{% extends 'base.html.twig' %}

{% block title %}Création Compétence{% endblock %}

{% block body %}
	<section id="form">
		{{ form_start(form) }}
		
		<div class="form-modif">
			<div class='title'>
				<h1>
					Création compétence
				</h1>
			</div>

			<div class='input'>
				<h2>La compétence à entrer :</h2>
				{{ form_widget(form.titre) }}
			</div>

			<h2>Date de début :</h2>
			{{ form_widget(form.StartDate) }}

			<h2>Date de fin :</h2>
			{{ form_widget(form.EndDate) }}

			<h2>Catégory :</h2>
			<a class="cat black fw-9" href="{{ path('create_cat') }}">+ Catégory</a>
			{{ form_widget(form.category) }}

			{{ form_widget(form.Enregistrer) }}
		</div>
		{{ form_end(form) }}
	</section>
{% endblock %}
