{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}

	<div class="liste-course">
		<h1 class="d-flex">La base de données</h1>

		<!-- TABLEAU COMPETENCE -->
		<h2 id="tableau">Le tableau des compétences</h2>

		<ol class="continuous-list grid-3">
			{% for competence in competences %}
				<li class="d-flex">{{ competence.titre }}</li>
				<p class="d-flex">{{ competence.StartDate|date("d/m/Y") }}
				{{ competence.EndDate|date("d/m/Y") }}
				{{ competence.category.name }}</p>

				<div class="d-flex">
					<a class="slide button-modif" href="{{ path('edit_competence', {'id': competence.id}) }}">Modifier</a>
					<form method="POST" action="{{ path('delete_competence', {'id': competence.id}) }}" onsubmit="return confirm('La supression a été effectué !')">
						<input type="hidden" name="_method" value="DELETE">
						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ competence.id) }}">
						<button class="close button-modif">supprimer</button>
					</form>
				</div>
			{% endfor %}
			<div class="d-flex">
				<a  class="pulse button-modif" href="{{ path('create_competence') }}">Créer une nouvelle compétence</a>
			</div>
		</ol>

		<!-- PROJETS -->
		<h2 id="projet">Les projets</h2>
		
		<ol class="continuous-list grid-4">
			{% for project in projects %}
				<li class="d-flex">{{ project.name }}</li>
				<p class="d-flex">{{ project.lien }}</p>
				<p class="d-flex">{{ project.description }}</p>
				<img src="{{ project.image }}" />
			{% endfor %}
		</ol>

		<div id="scroll_to_top">
    		<a href="#top">
				<i class="icon ion-android-arrow-up"></i>
			</a>
		</div>
	</div>

{% endblock %}
