{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}

	<div
		class="wrapper">

		<!-- TABLEAU COMPETENCE -->
		<h2>
			<strong>Le tableau des compétences</strong>
		</h2>

		<div class="cards">
			{% for competence in competences %}
				<p>{{ competence.titre }}
					{{ competence.StartDate|date("d/m/Y") }}
					{{ competence.EndDate|date("d/m/Y") }}
					{{ competence.category.name }}</p>

				<a href="{{ path('edit_competence', {'id': competence.id}) }}">Modifier</a>
				<form method="POST" action="{{ path('delete_competence', {'id': competence.id}) }}" onsubmit="return confirm('La supression a été effectué !')">
					<input type="hidden" name="_method" value="DELETE">
					<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ competence.id) }}">
					<button>supprimer</button>
				</form>
			{% endfor %}

            <a href="{{ path('create_competence') }}">Créer une nouvelle compétence</a>
		</div>

		<!-- COMPETENCE -->
		<h2>
			<strong>Les compétences</strong>
		</h2>

		<div class="cards">
			{% for skill in skills %}
				<p>{{ skill.nom }}
					{{ skill.description }}
					{{ skill.image }}</p>
			{% endfor %}
		</div>

		<!-- FORMATIONS -->
		<h2>
			<strong>Les formations</strong>
		</h2>

		<div class="cards">
			{% for formation in formations %}
				<p>{{ formation.name }}
					{{formation.description }}
					{{ formation.image }}</p>
			{% endfor %}
		</div>

		<!-- PROJETS -->
		<h2>
			<strong>Les projets</strong>
		</h2>

		<div class="cards">
			{% for project in projects %}
				<p>{{ project.nom }}
					{{ project.startDate|date("d/m/Y") }}
					{{ project.endDate|date("d/m/Y") }}
					{{ project.description }}
					{{ project.image }}</p>
			{% endfor %}
		</div>
	</div>

{% endblock %}
