{% extends 'base.html.twig' %}

{% block title %}Bullet Journal
{% endblock %}

{% block body %}

	<section class="bullet-section">
		<div class="h2-semaine d-flex jc-sa fs-13 fw-9">
			<h2 class="h2-semaine-no-div">
				{% if numbers %}
					Semaine N°
					{% for number in numbers %}
						{{ number.number }}
						<form class="semaine-form" method="POST" action="{{ path('delete_number', {'id': number.id}) }}" onsubmit="return confirm('La supression a été effectué !')">
							<input type="hidden" name="_method" value="DELETE">
							<input type="hidden" name="_token" value="{{ csrf_token('deleteNumber' ~ number.id) }}">
							<button>
								<i class="icon ion-android-delete"></i>
							</button>
						</form>
					{% endfor %}
				{% else %}
					<a class="semaine-a-bullet" href="{{ path('create_number') }}">Ajouter un numéro de semaine</a>
				{% endif %}
			</h2>
		</div>
		<div class="bullet-week">
			<div class="card-bullet">
				<div class="card-bullet_content bullet-size">
					<h1 class="txt-center">Lundi</h1>
					<div class="fs-20 card-bullet-semaine">
						{% for task in tasks %}
							{% if task.day.day == "Lundi" %}
								{{ task.name }}
								{{ task.hour|date("h:i") }}

								<a class="black" href="{{ path('edit_task', {'id': task.id}) }}">Modifier</a>
								<form method="POST" action="{{ path('delete_task', {'id': task.id}) }}" onsubmit="return confirm('La supression a été effectué !')">
									<input type="hidden" name="_method" value="DELETE">
									<input type="hidden" name="_token" value="{{ csrf_token('deleteTask' ~ task.id) }}">
									<button>
										<i class="icon ion-android-delete"></i>
									</button>
								</form>
							{% endif %}
						{% endfor %}
					</div>
					<div class="d-flex jc-sa fs-13 fw-9">
						{% for tag in tags %}
							{% if tag.day.day == "Lundi" %}
								<span class="tag">
									{{ tag.name }}
								</span>

								<form method="POST" action="{{ path('delete_tag', {'id': tag.id}) }}" onsubmit="return confirm('La supression a été effectué !')">
									<input type="hidden" name="_method" value="DELETE">
									<input type="hidden" name="_token" value="{{ csrf_token('deleteTag' ~ tag.id) }}">
									<button>
										<i class="icon ion-android-delete"></i>
									</button>
								</form>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="card-bullet">
				<div class="card-bullet_content bullet-size">
					<h1 class="txt-center">Mardi</h1>
					<div class="fs-20 card-bullet-semaine">
						{% for task in tasks %}
							{% if task.day.day == "Mardi" %}
								{{ task.name }}
								{{ task.hour|date("h:i")}}

								<a class="black" href="{{ path('edit_task', {'id': task.id}) }}">Modifier</a>
								<form method="POST" action="{{ path('delete_task', {'id': task.id}) }}" onsubmit="return confirm('La supression a été effectué !')">
									<input type="hidden" name="_method" value="DELETE">
									<input type="hidden" name="_token" value="{{ csrf_token('deleteTask' ~ task.id) }}">
									<button>
										<i class="icon ion-android-delete"></i>
									</button>
								</form>
							{% endif %}
						{% endfor %}
					</div>
					<div class="d-flex jc-sa fs-13 fw-9">
						{% for tag in tags %}
							{% if tag.day.day == "Mardi" %}
								<span class="tag">
									{{ tag.name }}
								</span>

								<form method="POST" action="{{ path('delete_tag', {'id': tag.id}) }}" onsubmit="return confirm('La supression a été effectué !')">
									<input type="hidden" name="_method" value="DELETE">
									<input type="hidden" name="_token" value="{{ csrf_token('deleteTag' ~ tag.id) }}">
									<button>
										<i class="icon ion-android-delete"></i>
									</button>
								</form>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="card-bullet">
				<div class="card-bullet_content bullet-size">
					<h1 class="txt-center">Mercredi</h1>
					<div class="fs-20 card-bullet-semaine">
						{% for task in tasks %}
							{% if task.day.day == "Mercredi" %}
								{{ task.name }}
								{{ task.hour|date("h:i")}}

								<a class="black" href="{{ path('edit_task', {'id': task.id}) }}">Modifier</a>
								<form method="POST" action="{{ path('delete_task', {'id': task.id}) }}" onsubmit="return confirm('La supression a été effectué !')">
									<input type="hidden" name="_method" value="DELETE">
									<input type="hidden" name="_token" value="{{ csrf_token('deleteTask' ~ task.id) }}">
									<button>
										<i class="icon ion-android-delete"></i>
									</button>
								</form>
							{% endif %}
						{% endfor %}
					</div>
					<div class="d-flex jc-sa fs-13 fw-9">
						{% for tag in tags %}
							{% if tag.day.day == "Mercredi" %}
								<span class="tag">
									{{ tag.name }}
								</span>

								<form method="POST" action="{{ path('delete_tag', {'id': tag.id}) }}" onsubmit="return confirm('La supression a été effectué !')">
									<input type="hidden" name="_method" value="DELETE">
									<input type="hidden" name="_token" value="{{ csrf_token('deleteTag' ~ tag.id) }}">
									<button>
										<i class="icon ion-android-delete"></i>
									</button>
								</form>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="card-bullet">
				<div class="card-bullet_content bullet-size">
					<h1 class="txt-center">Jeudi</h1>
					<div class="fs-20 card-bullet-semaine">
						{% for task in tasks %}
							{% if task.day.day == "Jeudi" %}
								{{ task.name }}
								{{ task.hour|date("h:i")}}

								<a class="black" href="{{ path('edit_task', {'id': task.id}) }}">Modifier</a>
								<form method="POST" action="{{ path('delete_task', {'id': task.id}) }}" onsubmit="return confirm('La supression a été effectué !')">
									<input type="hidden" name="_method" value="DELETE">
									<input type="hidden" name="_token" value="{{ csrf_token('deleteTask' ~ task.id) }}">
									<button>
										<i class="icon ion-android-delete"></i>
									</button>
								</form>
							{% endif %}
						{% endfor %}
					</div>
					<div class="d-flex jc-sa fs-13 fw-9">
						{% for tag in tags %}
							{% if tag.day.day == "Jeudi" %}
								<span class="tag">
									{{ tag.name }}
								</span>

								<form method="POST" action="{{ path('delete_tag', {'id': tag.id}) }}" onsubmit="return confirm('La supression a été effectué !')">
									<input type="hidden" name="_method" value="DELETE">
									<input type="hidden" name="_token" value="{{ csrf_token('deleteTag' ~ tag.id) }}">
									<button>
										<i class="icon ion-android-delete"></i>
									</button>
								</form>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="card-bullet">
				<div class="card-bullet_content bullet-size">
					<h1 class="txt-center">Vendredi</h1>
					<div class="fs-20 card-bullet-semaine">
						{% for task in tasks %}
							{% if task.day.day == "Vendredi" %}
								{{ task.name }}
								{{ task.hour|date("h:i")}}

								<a class="black" href="{{ path('edit_task', {'id': task.id}) }}">Modifier</a>
								<form method="POST" action="{{ path('delete_task', {'id': task.id}) }}" onsubmit="return confirm('La supression a été effectué !')">
									<input type="hidden" name="_method" value="DELETE">
									<input type="hidden" name="_token" value="{{ csrf_token('deleteTask' ~ task.id) }}">
									<button>
										<i class="icon ion-android-delete"></i>
									</button>
								</form>
							{% endif %}
						{% endfor %}
					</div>
					<div class="d-flex jc-sa fs-13 fw-9">
						{% for tag in tags %}
							{% if tag.day.day == "Vendredi" %}
								<span class="tag">
									{{ tag.name }}
								</span>

								<form method="POST" action="{{ path('delete_tag', {'id': tag.id}) }}" onsubmit="return confirm('La supression a été effectué !')">
									<input type="hidden" name="_method" value="DELETE">
									<input type="hidden" name="_token" value="{{ csrf_token('deleteTag' ~ tag.id) }}">
									<button>
										<i class="icon ion-android-delete"></i>
									</button>
								</form>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="card-bullet">
				<div class="card-bullet_content bullet-size">
					<h1 class="txt-center">Week-end</h1>
					<div class="fs-20 card-bullet-semaine">
						{% for task in tasks %}
							{% if task.day.day == "Week-end" %}
								{{ task.name }}
								{{ task.hour|date("h:i")}}

								<a class="black" href="{{ path('edit_task', {'id': task.id}) }}">Modifier</a>
								<form method="POST" action="{{ path('delete_task', {'id': task.id}) }}" onsubmit="return confirm('La supression a été effectué !')">
									<input type="hidden" name="_method" value="DELETE">
									<input type="hidden" name="_token" value="{{ csrf_token('deleteTask' ~ task.id) }}">
									<button>
										<i class="icon ion-android-delete"></i>
									</button>
								</form>
							{% endif %}
						{% endfor %}
					</div>
					<div class="d-flex jc-sa fs-13 fw-9">
						{% for tag in tags %}
							{% if tag.day.day == "Week-end" %}
								<span class="tag">
									{{ tag.name }}
								</span>
								<form method="POST" action="{{ path('delete_tag', {'id': tag.id}) }}" onsubmit="return confirm('La supression a été effectué !')">
									<input type="hidden" name="_method" value="DELETE">
									<input type="hidden" name="_token" value="{{ csrf_token('deleteTag' ~ tag.id) }}">
									<button>
										<i class="icon ion-android-delete"></i>
									</button>
								</form>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="btn-tag-task-reset">
			<button class="bullet-btn"><a class="black" href="{{ path('create_task') }}">Ajouter une tâche</a></btn>
			<button class="bullet-btn tag-btn-bullet"><a class="black" href="{{ path('create_tag') }}">Ajouter un tag</a></btn>
			<form method="POST" action="{{ path('bullet_reset') }}" onsubmit="return confirm('La réinitialisation du bullet a été effectué')">
				<input type="hidden" name="_method" value="DELETE">
				<input type="hidden" name="_token" value="{{ csrf_token('deleteBullet') }}">
				<button class="bullet-btn">Réinitialiser le bullet</button>
			</form>
		</div>

		<section class="bullet-goal">
			<h2>Objectifs de la semaine :</h2>
			{% for goal in goals %}
				<div class="form-bullet-goal">
					<form method="POST" action="{{ path('delete_goal', {'id': goal.id}) }}" onsubmit="return confirm('La supression a été effectué !')">
						<input type="hidden" name="_method" value="DELETE">
						<input type="hidden" name="_token" value="{{ csrf_token('deleteGoal' ~ goal.id) }}">
						<input class="icon ion-android-delete" type="checkbox">
					</form>
					{{ goal.name }}
				</div>
			{% endfor %}
			<div class="bullet-goal-btn">
				<button class="bullet-btn"><a class="black" href="{{ path('create_goal') }}">Ajouter un objectif</a></btn>
			</div>
		</section>

		<section class="bullet-list">
			<h2>Liste de course :</h2>
			{% for shop in shops %}
				<div class="form-bullet-list">
					<form method="POST" action="{{ path('delete_shop', {'id': shop.id}) }}" onsubmit="return confirm('La supression a été effectué !')">
						<input type="hidden" name="_method" value="DELETE">
						<input type="hidden" name="_token" value="{{ csrf_token('deleteShop' ~ shop.id) }}">
						<button>
							<input type="checkbox"></input>
						</button>
					</form>
					{{ shop.name }}
					{{ shop.prix }}
					{{ shop.category.name }}
				</div>
			{% endfor %}
			<div class="bullet-goal-list">
				<button class="bullet-btn"><a class="black" href="{{ path('create_shop') }}">Ajouter un article</a></btn>
			</div>
		</section>

	</section>
{% endblock %}
