{% extends 'base.html.twig' %}

{% block title %}Hello BulletController!
{% endblock %}

{% block body %}
	<div class="bullet-week">
        <div class="card-bullet">
			<div class="card-bullet_content bullet-size">
				<h1 class="txt-center">Lundi</h1>
				<p class="fs-20">Test description</p>
				<div class="d-flex jc-sa fs-13 fw-9">
					<span class="tag">test tag</span>
				</div>
			</div>
		</div>
	</div>

	<div class="white">
		{% if numbers %}
			{% for number in numbers %}
				{{ number.number }}			
			{% endfor %}

			{% else %}
				<a class="blue" href="{{ path('create_number') }}">+ numéro de semaine</a>
		{% endif %}
		
		
		

		{% for task in tasks %}
			{{ task.name }}
			{{ task.hour|date("h:i")}}

			<a class="blue" href="{{ path('edit_task', {'id': task.id}) }}">Modifier</a>
			<form method="POST" action="{{ path('delete_task', {'id': task.id}) }}" onsubmit="return confirm('La supression a été effectué !')">
				<input type="hidden" name="_method" value="DELETE">
				<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
				<button><i class="icon ion-android-delete"></i></button>
			</form>
		{% endfor %}
		<a class="blue" href="{{ path('create_task') }}">+ tâche</a>

		{% for tag in tags %}
			{{ tag.name }}

			<form method="POST" action="{{ path('delete_tag', {'id': tag.id}) }}" onsubmit="return confirm('La supression a été effectué !')">
				<input type="hidden" name="_method" value="DELETE">
				<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tag.id) }}">
				<button><i class="icon ion-android-delete"></i></button>
			</form>
		{% endfor %}
		<a class="blue" href="{{ path('create_tag') }}">+ tag</a>

		<form method="POST" action="{{ path('bullet_reset') }}" onsubmit="return confirm('La réinitialisation du bullet a été effectué')">
			<input type="hidden" name="_method" value="DELETE">
			<input type="hidden" name="_token" value="{{ csrf_token('deleteBullet') }}">
			<button>Réinitialiser le bullet</button>
		</form>
	</div>
{% endblock %}
