{% extends 'base.html.twig' %}

{% block title %}Création Compétence{% endblock %}
    
{% block body %}
    {{ form_start(form) }}
    <div>
		<h1>La compétence à entrer :</h1>
		{{ form_widget(form.nom) }}
	</div>
    <div>
		{{ form_label(form.startDate) }}
		{{ form_widget(form.startDate) }}
	</div>
    <div>
		{{ form_label(form.endDate) }}
		{{ form_widget(form.endDate) }}
	</div>
    <div>
		{{ form_label(form.description) }}
		{{ form_widget(form.description) }}
	</div>
    <div>
		{{ form_label(form.image) }}
		{{ form_widget(form.image) }}
	</div>
    <div>
		{{ form_widget(form.Enregistrer) }}
	</div>
    {{ form_end(form) }}
{% endblock %}
