{% extends 'base.html.twig' %}

{% block title %}Modification Tâche{% endblock %}
    
{% block body %}
    {{ form_start(form) }}
		<h1>Modification d'une tâche</h1>

		<h2>Nom de la tâche :</h2>
		{{ form_widget(form.name) }}
        {{ form_widget(form.hour) }}
		{{ form_widget(form.Enregistrer) }}
    {{ form_end(form) }}
{% endblock %}