<head>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap" rel="stylesheet">
</head>

<div class="navbar">
	<a class="brand" href="{{ path('app_home') }}"><img src="{{asset('images/logo.PNG')}}"></a>
	<div class="navigation">
		<div class="dropdown">
			<button class="dropbtn"><a class="nav-item" href="{{ path('app_store') }}">STORE</a></button>
		</div>
		<div class="dropdown">
			<button class="dropbtn"><a class="nav-item" href="{{ path('app_tableau') }}">TABLEAU</a></button>
		</div>
        <div class="dropdown">
			<button class="dropbtn"><a class="nav-item" href="{{ path('app_c_v') }}">CV</a></button>
		</div>
		<div class="dropdown">
			<button class="dropbtn"><a class="nav-item" href="{{ path('app_admin') }}">ADMIN</a></button>
			<div class="dropdown-content">
				<a href="#tableau">Tableau</a>
				<a href="#competence">Compétence</a>
				<a href="#formation">formation</a>
			</div>
		</div>
	</div>
</div>
