<head>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap" rel="stylesheet">
</head>

<div class="navbar">
	<a class="brand" href="{{ path('app_home') }}"><img src="{{asset('images/logo.PNG')}}"></a>
	<div class="navigation">
		<div class="dropdown">
			<a class="nav-item" href="{{ path('app_store') }}"><button class="dropbtn">STORE</button></a>
		</div>
		<div class="dropdown">
			<a class="nav-item" href="{{ path('app_tableau') }}"><button class="dropbtn">TABLEAU</button></a>
		</div>
        <div class="dropdown">
			<a class="nav-item" href="/cv-gwen.pdf" target="_blank"><button class="dropbtn">CV</button></a>
		</div>
		<div class="dropdown">
			<a class="nav-item" href="{{ path('app_bullet') }}"><button class="dropbtn">BULLET</button></a>
		</div>
		{% if is_granted('ROLE_ADMIN') %}
            <div class="dropdown wdt">
				<a class="nav-item" href="{{ path('app_admin') }}"><button class="dropbtn">ADMIN</button></a>
				<div class="dropdown-content">
					<a href="#tableau">Tableau</a>
					<a href="#projet">Projets</a>
				</div>
			</div>
		{% else %}
			<div class="dropdown wdt">
				<a class="nav-item" href="/login"><button class="dropbtn">CONNEXION</button></a>
			</div>
		{% endif %}
	</div>
</div>
